/* CodeIgniter Welcome Message Styles */

::selection {
  background-color: #E13300;
  color: white;
}

::-moz-selection {
  background-color: #E13300;
  color: white;
}

body {
  background-color: #fff;
  margin: 2.5rem;
  font: 13px/20px normal Helvetica, Arial, sans-serif;
  color: #4F5155;
}

a {
  color: #003399;
  background-color: transparent;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  color: #97310e;
}

h1 {
  color: #444;
  background-color: transparent;
  border-bottom: 1px solid #D0D0D0;
  font-size: 19px;
  font-weight: normal;
  margin: 0 0 1rem 0;
  padding: 1rem 1rem 0.75rem 1rem;
}

code {
  font-family: Consolas, Monaco, Courier New, Courier, monospace;
  font-size: 12px;
  background-color: #f9f9f9;
  border: 1px solid #D0D0D0;
  color: #002166;
  display: block;
  margin: 1rem 0 1rem 0;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}

#body {
  margin: 0 1rem 0 1rem;
  min-height: 96px;
}

p {
  margin: 0 0 10px;
  padding: 0;
}

p.footer {
  text-align: right;
  font-size: 11px;
  border-top: 1px solid #D0D0D0;
  line-height: 32px;
  padding: 0 0.75rem 0 0.75rem;
  margin: 1.5rem 0 0 0;
}

#container {
  margin: 0.75rem;
  border: 1px solid #D0D0D0;
  box-shadow: 0 0 8px #D0D0D0;
}
